<!doctype html>
<html lang="en" ng-app="rankingApp">
	<head>
		<meta charset="utf-8">
		<title>AngularJS | Ranking App</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body ng-controller='ListController'>
		<table>
			<thead>
				<th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Superhero &#8597;</a></th>
				<th><a href="" ng-click="predicate = 'score'; reverse=!reverse">Score &#8597;</a></th>
			</thead>
			<tbody>
			<tr ng-repeat='item in items | orderBy:predicate:reverse'>
				<td>{{item.title}}</td>
				<td class="score">
					{{item.score}}
					<button ng-click="item.score = item.score + 1">+</button> 
					<button ng-click="item.score = item.score - 1">-</button>
				</td>
			</tr>
		</tbody>
		</table>
		<form id="item-form" ng-submit="addItem()">
			<input id="new-item" placeholder="Add another superhero" ng-model="newItem">
			<input type="submit" value="Add">
		</form>		

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>	